body, html {
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 100%; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

table, tr, td {
    border: 1px solid black; 
}

table {
    position: relative;
    text-align: center;
    margin-top: 10%; 
}

.btn {
    position: relative;
    border: solid 1px #ccc;
    border-right: none;
    background: #eee linear-gradient(white, #f1f1f1 37%, #e1e1e1 57%, #f6f6f6);
    width: 120px; 
    margin: 3px; 
}

input.table {
    border: none; 
    text-align: center;
}

td.no-border {
    border: 0px; 
}
